
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    

    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://learningwebappdev.com">
    <meta name="description" content="Grasp the fundamentals of web application development by building a simple database-backed app from scratch, using HTML, CSS, JavaScript, Node.Js, and other open source tools.">
    <meta name="author" content="Semmy Purewal">
    <link rel="icon" href="/images/favicon.ico">
    <!--FACEBOOK-->
    <meta property="og:title" content="Build a simple database-backed app from scratch, using HTML, CSS, JavaScript, Node.Js, and other open source tools." >
    <meta property="og:site_name" content="Learning Web App Development by Semmy Purewal">
    <meta property="og:url" content="http://learningwebappdev.com" >
    <meta property="og:description" content="" >
    <meta property="og:image" content="http://learningwebappdev.com/images/cover.jpg" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >
    <!--TWITTER-->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="Learning Web App Development by Semmy Purewal" >
    <meta property="twitter:description" content="Build a simple database-backed app from scratch, using HTML, CSS, JavaScript, Node.Js, and other open source tools." >
    <meta property="twitter:creator" content="@semmypurewal" >
    <meta property="twitter:url" content="http://learningwebappdev.com" >
    <meta property="twitter:image" content="http://learningwebappdev.com/images/cover.jpg" > 

    

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href="/custom/typewriterFontKit.css" rel="stylesheet">
    <link href="/custom/bookTemplate.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileNav">
            <span>Menu</span>
          </button>
           <a class="visible-xs navbar-brand" href="/">Learning Web App Development</a>
           <li class='visible-xs pull-right'><a href="http://www.jdoqocy.com/click-7557398-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030621.do%3Fcmp%3Daf-prog-books-videos-product_cj_9781449370190_%2525zp&cjsku=0636920030621" class="btn btn-primary btn-sm">Buy eBook</a></li>
        </div>
        <div class="collapse navbar-collapse" id="mobileNav">
          <ul class="nav navbar-nav">
            {% if page.link == "Home" %}
            <li class="active"><a href="/">Home</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            {% endif %}

            {% if page.link == "Praise" %}
            <li class="active"><a href="/praise.html">Praise</a></li>
            {% else %}
            <li><a href="/praise.html">Praise</a></li>
            {% endif %}

            {% if page.link == "Preface" %}
            <li class="active"><a href="/preface.html">Preface</a></li>
            {% else %}
            <li><a href="/preface.html">Preface</a></li>
            {% endif %}

            {% if page.link == "Errata" %}
            <li class="active"><a href="/errata.html">Errata</a></li>
            {% else %}
            <li><a href="/errata.html">Errata</a></li>
            {% endif %}

            {% if page.link == "Examples" %}
            <li class="active"><a href="/examples.html">Examples</a></li>
            {% else %}
            <li><a href="/examples.html">Examples</a></li>
            {% endif %}

            <li class="share-button"></li> 

          </ul>
        </div> 

      </div>
    </nav>

    
    <div class="mainContainer container">
      <div class="mainHeader">

        <h1 class="heading">
        
        Learning Web App Development</h1>
        <p>by Semmy Purewal</p>
      </div>