<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {% if page.link == "Home" %}
          <a class="blog-nav-item active" href="/index.html">Home</a>
          {% else %}
          <a class="blog-nav-item" href="/index.html">Home</a>          
          {% endif %}

          {% if page.link == "Errata" %}
          <a class="blog-nav-item active" href="/errata.html">Errata</a>
          {% else %}
          <a class="blog-nav-item" href="/errata.html">Errata</a>
          {% endif %}
          
          <a class="blog-nav-item" href="http://github.com/semmypurewal/learningwebappdev">Examples <i class="fa fa-external-link fa-1x"></i></a>


        </nav>
      </div>
    </div>
