<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

  <div class="sidebar-module">
    <a href="http://www.jdoqocy.com/click-7557398-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030621.do%3Fcmp%3Daf-prog-books-videos-product_cj_9781449370190_%2525zp&cjsku=0636920030621">
      <button class="btn-success btn-lg btn-block">Buy Now from O'Reilly!</button>
    </a><br/>

    <a href="http://www.amazon.com/Learning-Web-Development-Semmy-Purewal/dp/1449370195/ref=sr_1_1?ie=UTF8&qid=1393716845&sr=8-1">
      <button class="btn-success btn-lg btn-block">Buy Now from Amazon!</button>
    </a>
  </div>
  
  <div class="sidebar-module">
    <a href="http://www.jdoqocy.com/click-7557398-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030621.do%3Fcmp%3Daf-prog-books-videos-product_cj_9781449370190_%2525zp&cjsku=0636920030621"><img class="img-responsive" src="/images/cover.jpg" alt="Learning Web Application Development Cover"/></a>
  </div>


  
  <div class="sidebar-module sidebar-module-inset">
    <h4>About the Author</h4>
    <p>Semmy Purewal is currently a Senior Software Engineer at Netflix.</p>
    <div style="text-align: center;letter-spacing: 8px;">
      <a href="http://twitter.com/semmypurewal"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="http://github.com/semmypurewal"><i class="fa fa-github-alt fa-2x"></i></a>
      <a href="http://linkedin.com/in/semmypurewal"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="http://semmy.me"><i class="fa fa-home fa-2x"></i></a>
    </div>
  </div>
</div><!-- /.blog-sidebar -->
