<div class="sidebar"> 
  <div class="sidebarInner">
    <div class="sidebarNav hidden-xs" id="navSpy">
      <ul class="nav">
        <li class="active">
          <a href="#introduction">Introduction</a>
        </li>
        <li>
          <a href="#techChoices">Technology Choices</a>
        </li>
        <li>
          <a href="#bookForYou">Is This Book for You?</a>
        </li>
        <li>
          <a href="#learningWith">Learning with This Book</a>
        </li>
        <li>
          <a href="#teachingWith">Teaching with This Book</a>
        </li>
        <li>
          <a href="#forHelp">Where to Go for Help</a>
        </li>
        <li>
          <a href="#codeComments">General Comments on Code</a>
        </li>
        <li>
          <a href="#acknowlegements">Acknowledgments</a>
        </li>
      </ul>
    </div>
    <div class="sidebarCta">
      <div class="inner">
         <img src="/images/sideCtaSmall.jpg">
         <div class="mainCtaButton">
          <a class="btn btn-primary" href="http://www.jdoqocy.com/click-7557398-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920030621.do%3Fcmp%3Daf-prog-books-videos-product_cj_9781449370190_%2525zp&cjsku=0636920030621" >Buy eBook on O'Reilly.com</a>
          <footer class="small">
            <p>All formats, one price &mdash; ePub, mobi, PDF</p>
            <span>Also available in paperback.</span>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>