<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module">
    <img class="img-responsive" src="/images/cover.jpg" alt="Learning Web Application Development Cover"/>
  </div>

  <div class="sidebar-module">
    <a href="http://shop.oreilly.com/product/0636920030621.do">Buy Now from O'Reilly!</a><br/>
    <a href="http://www.amazon.com/Learning-Web-Development-Semmy-Purewal/dp/1449370195/ref=sr_1_1?ie=UTF8&qid=1393716845&sr=8-1">Buy Now from Amazon!</a>
  </div>
  
  <div class="sidebar-module sidebar-module-inset">
    <h4>About the Author</h4>
    <p>Semmy Purewal is currently a Senior Software Engineer at Netflix.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="http://github.com/semmypurewal">GitHub</a></li>
      <li><a href="http://twitter.com/semmypurewal">Twitter</a></li>
      <li><a href="http://semmy.me">Homepage</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
