{% include header.html %}
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Learning Web App Development</h1>
    <p class="lead blog-description">The official companion website of the book</p>
    <hr>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      {{ content }}

      <ul class="pager">
        {% if paginator.previous_page %}
          <li><a href="{{paginator.previous_page_path}}">Previous</a></li>
        {% endif %}
        {% if paginator.next_page %}          
          <li><a href="{{paginator.next_page_path}}">Next</a></li>
        {% endif %}
      </ul>

    </div><!-- /.blog-main -->

    {% include sidebar.html %}

  </div><!-- /.row -->

</div><!-- /.container -->

{% include footer.html %}
