{% include header.html %}
<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      {{ content }}

      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>

    </div><!-- /.blog-main -->

    {% include sidebar.html %}

  </div><!-- /.row -->

</div><!-- /.container -->

{% include footer.html %}
