{% include header.html %}

<div class="wrapper subPage blogContent">
  <div class="content">
    <ol class="breadcrumb">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/errata.html">Errata</a></li>
    <li class="active">{{ page.title }}</li>
    </ol>
    <div class="blogHeading">
      <h2 class="heading">{{ page.title }}</h2>
      <p class="meta">page {{ page.page }}</p>
      <p class="meta">{{ page.date | date_to_string }}</p>
    </div>
    <section class="blogInner">
      {{ content }}
    </section>




  </div>

{% include sidebar.html %}

</div>
<!-- end wrapper subPage -->


{% include footer.html %}
